In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder, StandardScaler, FunctionTransformer
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer, make_column_transformer

import requests

In [2]:
def raw_data_process(df: pd.DataFrame):
    print("Raw data process in progress.....................")
    '''
    Takes in raw data (in DataFrame),
    returns X (pd.DataFrame), y (pd.Series)
    where X has unused columns removed,
    and the features are the same as the one generated from user input.
    '''
    X = df.drop(columns = ['resale_price', 'block', 'street_name', 'lease_commence_date'])
    y = df['resale_price']

    # X is left with month, town, flat_type,
    # storey_range (string), floor_area_sqm, flat_model, remaining_lease
    # To get to the same features as user input, we have to process storey_range

    X['storey'] = X['storey_range'].apply(lambda x: int(x[:2]))
    X.drop(columns = ['storey_range'], inplace = True)

    X['sale_year'] = X['month'].dt.year
    X['sale_month'] = X['month'].dt.month

    X.drop(columns = ['month'], inplace = True)

    return X, y

In [3]:
def preprocessor(X: pd.DataFrame):
    print("Predicted data process in progress.....................")

    '''
    Takes in DataFrame, returns processed data.
    Transforms a dataset with 7 features into a dataset with 60 features.

    Stateless operation.
    '''
    # Convert remaining_lease from the format XX years YY months to a float (years)
    X['r_lease'] = X['remaining_lease'].apply(lambda x: (int(x[:2])) if x[9:11]== '0 ' or x[9:11] == '' else (int(x[:2]) + int(x[9:11])/12))
    X.drop(columns = ['remaining_lease'], inplace = True)

    #extract year and month details from month column and drop the month column
    X['sale_month_sin'] = np.sin(2 * np.pi * X.sale_month/12)
    X['sale_month_cos'] = np.cos(2 * np.pi * X.sale_month/12)

    X.drop(columns = ['sale_month'], inplace = True)

    def create_preprocessor() -> ColumnTransformer:
        # One hot encoding for categorical features
        town_list = ['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
        'BUKIT PANJANG', 'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG',
        'CLEMENTI', 'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
        'KALLANG/WHAMPOA', 'MARINE PARADE', 'PASIR RIS', 'PUNGGOL',
        'QUEENSTOWN', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'TAMPINES',
        'TOA PAYOH', 'WOODLANDS', 'YISHUN']

        flat_type_list = ['2 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', 'EXECUTIVE', '1 ROOM',
            'MULTI-GENERATION']

        flat_model_list = ['Improved', 'New Generation', 'DBSS', 'Standard', 'Apartment',
            'Simplified', 'Model A', 'Premium Apartment', 'Adjoined flat',
            'Model A-Maisonette', 'Maisonette', 'Type S1', 'Type S2',
            'Model A2', 'Terrace', 'Improved-Maisonette', 'Premium Maisonette',
            'Multi Generation', 'Premium Apartment Loft', '2-room', '3Gen']

        categorical_features_names = [np.array(town_list, dtype=object),
                                    np.array(flat_type_list, dtype=object),
                                    np.array(flat_model_list, dtype=object)]

        categorical_ohe = OneHotEncoder(
            categories = categorical_features_names,
            handle_unknown = "ignore",
            sparse = False
            )

        categorical_features = ['town', 'flat_type', 'flat_model']

        # Numerical scalars

        # Floor Area min/max
        f_area_min = 0
        f_area_max = 260

        # Storey min/max
        storey_min = 1
        storey_max = 55

        # Remaining lease years min/max
        r_lease_min = 0
        r_lease_max = 99

        f_area_pipe = FunctionTransformer(lambda p: (p - f_area_min) / (f_area_max - f_area_min))
        storey_pipe = FunctionTransformer(lambda p: (p - storey_min) / (storey_max - storey_min))
        r_lease_pipe = FunctionTransformer(lambda p: (p - r_lease_min) / (r_lease_max - r_lease_min))

        # Combined preprocessor
        final_preprocessor = ColumnTransformer(
                [
                    ("f_area_scalar", f_area_pipe, ["floor_area_sqm"]),
                    ("storey_scalar", storey_pipe, ["storey"]),
                    ("r_lease_scalar", r_lease_pipe, ["r_lease"]),
                    ("categorical", categorical_ohe, categorical_features)
                ],
                n_jobs=-1,
                remainder='passthrough'
            )
        return final_preprocessor

    preprocessor = create_preprocessor()
    X_processed = preprocessor.fit_transform(X)


    return X_processed

In [83]:
ori_df=pd.read_csv('../raw_data/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
flat_coor_df=pd.read_csv('../raw_data/flat_coordinates_clean.csv')
flat_mrt_df=pd.read_csv('../raw_data/flat_mrt.csv')
mrt_coor_df=pd.read_csv('../raw_data/MRT_coordinates.csv')
hdb_coor_df=pd.read_csv('../raw_data/hdb_coor.csv')
flat_school_df=pd.read_csv('../raw_data/flat_school.csv')

In [71]:
ori_df['Address']=ori_df.loc[:,'block']+ " "+ori_df.loc[:,'street_name']
ori_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,Address
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,406 ANG MO KIO AVE 10
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,108 ANG MO KIO AVE 4
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,602 ANG MO KIO AVE 5
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,465 ANG MO KIO AVE 10
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,601 ANG MO KIO AVE 5
...,...,...,...,...,...,...,...,...,...,...,...,...
157092,2023-07,YISHUN,5 ROOM,504B,YISHUN ST 51,04 TO 06,113.0,Improved,2016,91 years 09 months,645000.0,504B YISHUN ST 51
157093,2023-07,YISHUN,5 ROOM,613,YISHUN ST 61,07 TO 09,121.0,Improved,1987,62 years 10 months,610000.0,613 YISHUN ST 61
157094,2023-07,YISHUN,5 ROOM,713,YISHUN ST 71,04 TO 06,122.0,Improved,1987,63 years 01 month,535000.0,713 YISHUN ST 71
157095,2023-07,YISHUN,5 ROOM,758,YISHUN ST 72,04 TO 06,129.0,Improved,1986,62 years 05 months,620000.0,758 YISHUN ST 72
157096,2023-07,YISHUN,EXECUTIVE,837,YISHUN ST 81,01 TO 03,146.0,Maisonette,1988,63 years 07 months,860000.0,837 YISHUN ST 81

In [72]:
hdb_coor_df=hdb_coor_df[['Address','Latitude','Longitude']]
hdb_coor_df

                   Address  Latitude   Longitude
0               1 BEACH RD  1.295097  103.854068
1        1 BEDOK STH AVE 1  1.320852  103.933721
2          1 CANTONMENT RD  1.275499  103.841398
3           1 CHAI CHEE RD  1.327969  103.922716
4      1 CHANGI VILLAGE RD  1.388547  103.987805
...                    ...       ...         ...
12716   998A BUANGKOK CRES  1.383758  103.880172
12717   998B BUANGKOK CRES  1.384101  103.880505
12718    999 BUANGKOK CRES  1.384564  103.879946
12719   999A BUANGKOK CRES  1.384855  103.880374
12720   999B BUANGKOK CRES  1.384537  103.880589

[12721 rows x 3 columns]

In [73]:
ori_df=ori_df.merge(hdb_coor_df, on="Address")

In [74]:
ori_df.tail()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,Address,Latitude,Longitude
157092,2023-07,SEMBAWANG,4 ROOM,362A,SEMBAWANG CRES,04 TO 06,93.0,Model A,2019,94 years 11 months,550000.0,362A SEMBAWANG CRES,1.447195,103.814008
157093,2023-06,SEMBAWANG,4 ROOM,366B,SEMBAWANG CRES,10 TO 12,93.0,Model A,2019,94 years 11 months,568000.0,366B SEMBAWANG CRES,1.443922,103.815958
157094,2023-07,SEMBAWANG,4 ROOM,366B,SEMBAWANG CRES,13 TO 15,93.0,Model A,2019,94 years 11 months,565000.0,366B SEMBAWANG CRES,1.443922,103.815958
157095,2023-07,HOUGANG,4 ROOM,992B,BUANGKOK LINK,07 TO 09,93.0,Model A,2019,95 years,598000.0,992B BUANGKOK LINK,1.383827,103.881672
157096,2023-07,SENGKANG,4 ROOM,351A,ANCHORVALE RD,10 TO 12,92.0,Model A,2019,94 years 11 months,568000.0,351A ANCHORVALE RD,1.394153,103.886574

In [75]:

for i,j in mrt_coor_df.iterrows():
    print (j['Latitude'],j['Longitude'],j['STN_NAME'])

1.440585001 103.8009982 ADMIRALTY MRT STATION
1.316432612 103.882893 ALJUNIED MRT STATION
1.369933175 103.8495535 ANG MO KIO MRT STATION
1.388092704 103.9054179 BAKAU LRT STATION
1.380017897 103.7726667 BANGKIT LRT STATION
1.342828338 103.8797462 BARTLEY MRT STATION
1.281873788 103.8590733 BAYFRONT MRT STATION
1.281873788 103.8590733 BAYFRONT MRT STATION
1.341223176 103.77581 BEAUTY WORLD MRT STATION
1.323979969 103.9299587 BEDOK MRT STATION
1.334742117 103.9179554 BEDOK NORTH MRT STATION
1.33660783 103.9322077 BEDOK RESERVOIR MRT STATION
1.29886427 103.8503799 BENCOOLEN MRT STATION
1.313672233 103.8629702 BENDEMEER MRT STATION
1.35130868 103.84915 BISHAN MRT STATION
1.350838988 103.8481398 BISHAN MRT STATION
1.319395706 103.861679 BOON KENG MRT STATION
1.338604054 103.7060994 BOON LAY MRT STATION
1.322423979 103.8161362 BOTANIC GARDENS MRT STATION
1.322110193 103.8149876 BOTANIC GARDENS MRT STATION
1.340471684 103.8467942 BRADDELL MRT STATION
1.296861687 103.8506629 BRAS BASAH MRT STATION
1.382877858 103.8931042 BUANGKOK MRT STATION
1.299550746 103.8568623 BUGIS MRT STATION
1.300465076 103.8557007 BUGIS MRT STATION
1.349034109 103.74959 BUKIT BATOK MRT STATION
1.333728882 103.8306903 BUKIT BROWN MRT STATION
1.358761857 103.7519164 BUKIT GOMBAK MRT STATION
1.377909898 103.763034 BUKIT PANJANG LRT STATION
1.379002117 103.7615559 BUKIT PANJANG MRT STATION
1.307183467 103.7902028 BUONA VISTA MRT STATION
1.306491669 103.7906645 BUONA VISTA MRT STATION
1.337674508 103.8395281 CALDECOTT MRT STATION
1.369369831 103.764714 CASHEW MRT STATION
1.357314545 103.9883212 CHANGI AIRPORT MRT STATION
1.396277631 103.8937792 CHENG LIM LRT STATION
1.284359578 103.8434242 CHINATOWN MRT STATION
1.284748969 103.8444484 CHINATOWN MRT STATION
1.342352821 103.7326244 CHINESE GARDEN MRT STATION
1.38483636 103.7445797 CHOA CHU KANG LRT STATION
1.385361693 103.744367 CHOA CHU KANG MRT STATION
1.292936243 103.852581 CITY HALL MRT STATION
1.292936243 103.852581 CITY HALL MRT STATION
1.288386024 103.8465519 CLARKE QUAY MRT STATION
1.314954492 103.7653168 CLEMENTI MRT STATION
1.302438735 103.7983136 COMMONWEALTH MRT STATION
1.394493046 103.9004726 COMPASSVALE LRT STATION
1.393909226 103.9125574 CORAL EDGE LRT STATION
1.399281985 103.9059403 COVE LRT STATION
1.30838264 103.888648 DAKOTA MRT STATION
1.405234836 103.9085809 DAMAI LRT STATION
1.298701307 103.8461119 DHOBY GHAUT MRT STATION
1.299705459 103.8454851 DHOBY GHAUT MRT STATION
1.298842816 103.8462358 DHOBY GHAUT MRT STATION
1.311405293 103.7786522 DOVER MRT STATION
1.27944619 103.8528356 DOWNTOWN MRT STATION
1.293321608 103.8554985 ESPLANADE MRT STATION
1.319778952 103.9032339 EUNOS MRT STATION
1.334549778 103.9615134 EXPO MRT STATION
1.335382137 103.9623407 EXPO MRT STATION
1.384520796 103.7708268 FAJAR LRT STATION
1.397170196 103.8892882 FARMWAY LRT STATION
1.31235984 103.8541717 FARRER PARK MRT STATION
1.317510612 103.8075929 FARRER ROAD MRT STATION
1.391885888 103.8762959 FERNVALE LRT STATION
1.292478928 103.8443255 FORT CANNING MRT STATION
1.321505838 103.8718904 GEYLANG BAHRU MRT STATION
1.319505215 103.6605988 GUL CIRCLE MRT STATION
1.26547264 103.821446 HARBOURFRONT MRT STATION
1.26547264 103.821446 HARBOURFRONT MRT STATION
1.282542157 103.7818234 HAW PAR VILLA MRT STATION
1.362344869 103.7674369 HILLVIEW MRT STATION
1.31183479 103.7962016 HOLLAND VILLAGE MRT STATION
1.371292292 103.8923636 HOUGANG MRT STATION
1.305403642 103.8554713 JALAN BESAR MRT STATION
1.386703025 103.7645235 JELAPANG LRT STATION
1.327717173 103.6784167 JOO KOON MRT STATION
1.33315262 103.7423112 JURONG EAST MRT STATION
1.33315262 103.7423112 JURONG EAST MRT STATION
1.399584853 103.9164619 KADALOOR LRT STATION
1.334967302 103.9084393 KAKI BUKIT MRT STATION
1.31148891 103.8713766 KALLANG MRT STATION
1.383978902 103.9021539 KANGKAR LRT STATION
1.378602766 103.7490799 KEAT HONG LRT STATION
1.321038249 103.9129282 KEMBANGAN MRT STATION
1.293462633 103.7846438 KENT RIDGE MRT STATION
1.41738337 103.83298 KHATIB MRT STATION
1.335665121 103.7838201 KING ALBERT PARK MRT STATION
1.360179171 103.8850503 KOVAN MRT STATION
1.425177699 103.7621874 KRANJI MRT STATION
1.398212828 103.881242 KUPANG LRT STATION
1.272332732 103.8029471 LABRADOR PARK MRT STATION
1.344259249 103.7209802 LAKESIDE MRT STATION
1.30735702 103.8628215 LAVENDER MRT STATION
1.392079839 103.8800158 LAYAR LRT STATION
1.303916484 103.8524167 LITTLE INDIA MRT STATION
1.307198223 103.8485807 LITTLE INDIA MRT STATION
1.351612171 103.8641434 LORONG CHUAN MRT STATION
1.326345372 103.8902718 MACPHERSON MRT STATION
1.326076883 103.8893356 MACPHERSON MRT STATION
1.276427355 103.8545925 MARINA BAY MRT STATION
1.276150637 103.8550886 MARINA BAY MRT STATION
1.271336711 103.8628525 MARINA SOUTH PIER MRT STATION
1.432514421 103.77409 MARSILING MRT STATION
1.348707263 103.8394214 MARYMOUNT MRT STATION
1.326876715 103.8832341 MATTAR MRT STATION
1.396912053 103.9089277 MERIDIAN LRT STATION
1.306201905 103.8825153 MOUNTBATTEN MRT STATION
1.313607102 103.8378098 NEWTON MRT STATION
1.3123201 103.8379841 NEWTON MRT STATION
1.411870458 103.9002935 NIBONG LRT STATION
1.299766835 103.8636292 NICOLL HIGHWAY MRT STATION
1.320440791 103.8438228 NOVENA MRT STATION
1.402286677 103.9127036 OASIS LRT STATION
1.299759879 103.7874693 ONE-NORTH MRT STATION
1.303981012 103.8322417 ORCHARD MRT STATION
1.28140498 103.839125 OUTRAM PARK MRT STATION
1.279764543 103.8395732 OUTRAM PARK MRT STATION
1.276213523 103.7913607 PASIR PANJANG MRT STATION
1.372983774 103.9492348 PASIR RIS MRT STATION
1.318112082 103.8930446 PAYA LEBAR MRT STATION
1.317430268 103.8921633 PAYA LEBAR MRT STATION
1.376142883 103.7712881 PENDING LRT STATION
1.377750334 103.7666882 PETIR LRT STATION
1.378618844 103.7580559 PHOENIX LRT STATION
1.337586882 103.6973586 PIONEER MRT STATION
1.331379525 103.869046 POTONG PASIR MRT STATION
1.292891552 103.860846 PROMENADE MRT STATION
1.293218051 103.8609921 PROMENADE MRT STATION
1.405194701 103.9023911 PUNGGOL LRT STATION
1.404546728 103.902052 PUNGGOL MRT STATION
1.41684852 103.9066284 PUNGGOL POINT LRT STATION
1.294860933 103.8058913 QUEENSTOWN MRT STATION
1.284125611 103.8514572 RAFFLES PLACE MRT STATION
1.284125611 103.8514572 RAFFLES PLACE MRT STATION
1.384233561 103.897176 RANGGUNG LRT STATION
1.289562726 103.8168209 REDHILL MRT STATION
1.386723922 103.8905227 RENJONG LRT STATION
1.394524496 103.9161415 RIVIERA LRT STATION
1.306800025 103.8496427 ROCHOR MRT STATION
1.391468497 103.9059522 RUMBIA LRT STATION
1.409612685 103.9048099 SAM KEE LRT STATION
1.415901719 103.9021353 SAMUDERA LRT STATION
1.387772131 103.7696171 SEGAR LRT STATION
1.449050821 103.8200504 SEMBAWANG MRT STATION
1.391609364 103.8954243 SENGKANG LRT STATION
1.391694626 103.8954664 SENGKANG MRT STATION
1.382692296 103.7623879 SENJA LRT STATION
1.350595256 103.8723572 SERANGOON MRT STATION
1.349707875 103.8735637 SERANGOON MRT STATION
1.343202895 103.9533387 SIMEI MRT STATION
1.330786387 103.7972561 SIXTH AVENUE MRT STATION
1.300260055 103.8390737 SOMERSET MRT STATION
1.405088585 103.8971904 SOO TECK LRT STATION
1.380298287 103.7453173 SOUTH VIEW LRT STATION
1.30284063 103.8753395 STADIUM MRT STATION
1.320065557 103.8260263 STEVENS MRT STATION
1.408452426 103.8985387 SUMANG LRT STATION
1.335433322 103.88818 TAI SENG MRT STATION
1.356191483 103.9546005 TAMPINES EAST MRT STATION
1.353301356 103.9451175 TAMPINES MRT STATION
1.355077429 103.9430298 TAMPINES MRT STATION
1.345515305 103.938408 TAMPINES WEST MRT STATION
1.325883209 103.8073292 TAN KAH KEE MRT STATION
1.327187135 103.9463161 TANAH MERAH MRT STATION
1.276521247 103.8458611 TANJONG PAGAR MRT STATION
1.412770894 103.9065554 TECK LEE LRT STATION
1.376684679 103.7537352 TECK WHYE LRT STATION
1.282289536 103.8482991 TELOK AYER MRT STATION
1.270753211 103.8097544 TELOK BLANGAH MRT STATION
1.380321008 103.760161 TEN MILE JUNCTION LRT STATION
1.397318155 103.8756226 THANGGAM LRT STATION
1.286193393 103.827021 TIONG BAHRU MRT STATION
1.332628987 103.8474979 TOA PAYOH MRT STATION
1.389347953 103.8858287 TONGKANG LRT STATION
1.321026553 103.6491245 TUAS CRESCENT MRT STATION
1.340463766 103.6369324 TUAS LINK MRT STATION
1.329989089 103.6396662 TUAS WEST ROAD MRT STATION
1.329956826 103.8992348 UBI MRT STATION
1.341737484 103.9614367 UPPER CHANGI MRT STATION
1.436875128 103.7864999 WOODLANDS MRT STATION
1.436066981 103.7879451 WOODLANDS MRT STATION
1.427259979 103.7938631 WOODLANDS SOUTH MRT STATION
1.339190046 103.8708081 WOODLEIGH MRT STATION
1.397535018 103.7474307 YEW TEE MRT STATION
1.381756046 103.8449439 YIO CHU KANG MRT STATION
1.429443081 103.8350045 YISHUN MRT STATION

In [76]:
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    distance = 6371 * c  # Earth's radius in kilometers

    return distance

def find_nearest_mrt_station(house_lat, house_lon, mrt_stations):
    nearest_station = None
    min_distance = float('inf')  # Set initial minimum distance to a large value

    for index,station in mrt_stations.iterrows():
        station_lat, station_lon = station['Latitude'], station['Longitude']
        distance = haversine_distance(house_lat, house_lon, station_lat, station_lon)

        if distance < min_distance:
            min_distance = distance
            nearest_station = station['STN_NAME']

    return nearest_station, min_distance

# Example usage:
house_lat = 1.443922	  # Replace with the latitude of your house
house_lon = 103.815958    # Replace with the longitude of your house

mrt_stations = mrt_coor_df

nearest_station, distance = find_nearest_mrt_station(house_lat, house_lon, mrt_stations)
print("Nearest MRT station:", nearest_station)
print("Distance (in kilometers):", distance)

Nearest MRT station: SEMBAWANG MRT STATION
Distance (in kilometers): 0.7295088102749182

In [77]:
ori_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,Address,Latitude,Longitude
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,406 ANG MO KIO AVE 10,1.362005,103.853880
1,2017-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 01 month,235000.0,406 ANG MO KIO AVE 10,1.362005,103.853880
2,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,202000.0,406 ANG MO KIO AVE 10,1.362005,103.853880
3,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,210000.0,406 ANG MO KIO AVE 10,1.362005,103.853880
4,2018-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,60 years 01 month,220000.0,406 ANG MO KIO AVE 10,1.362005,103.853880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157092,2023-07,SEMBAWANG,4 ROOM,362A,SEMBAWANG CRES,04 TO 06,93.0,Model A,2019,94 years 11 months,550000.0,362A SEMBAWANG CRES,1.447195,103.814008
157093,2023-06,SEMBAWANG,4 ROOM,366B,SEMBAWANG CRES,10 TO 12,93.0,Model A,2019,94 years 11 months,568000.0,366B SEMBAWANG CRES,1.443922,103.815958
157094,2023-07,SEMBAWANG,4 ROOM,366B,SEMBAWANG CRES,13 TO 15,93.0,Model A,2019,94 years 11 months,565000.0,366B SEMBAWANG CRES,1.443922,103.815958
157095,2023-07,HOUGANG,4 ROOM,992B,BUANGKOK LINK,07 TO 09,93.0,Model A,2019,95 years,598000.0,992B BUANGKOK LINK,1.383827,103.881672
157096,2023-07,SENGKANG,4 ROOM,351A,ANCHORVALE RD,10 TO 12,92.0,Model A,2019,94 years 11 months,568000.0,351A ANCHORVALE RD,1.394153,103.886574

In [80]:
ori_df['nearest_mrt_station']=''
ori_df['distant_nearest_mrt']=''

for i,j in ori_df.iterrows():
    nearest_station, distance = find_nearest_mrt_station(j['Latitude'], j['Longitude'], mrt_stations)
    ori_df.loc[i,'nearest_mrt_station']=nearest_station
    ori_df.loc[i,'distant_nearest_mrt']=distance
    if i in [1000,5000,10000,20000,50000,100000]:
        print(i)

1000
5000
10000
20000
50000
100000

In [81]:
ori_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,Address,Latitude,Longitude,nearest_mrt_station,distant_nearest_mrt
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,406 ANG MO KIO AVE 10,1.362005,103.853880,ANG MO KIO MRT STATION,1.004272
1,2017-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 01 month,235000.0,406 ANG MO KIO AVE 10,1.362005,103.853880,ANG MO KIO MRT STATION,1.004272
2,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,202000.0,406 ANG MO KIO AVE 10,1.362005,103.853880,ANG MO KIO MRT STATION,1.004272
3,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,210000.0,406 ANG MO KIO AVE 10,1.362005,103.853880,ANG MO KIO MRT STATION,1.004272
4,2018-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,60 years 01 month,220000.0,406 ANG MO KIO AVE 10,1.362005,103.853880,ANG MO KIO MRT STATION,1.004272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157092,2023-07,SEMBAWANG,4 ROOM,362A,SEMBAWANG CRES,04 TO 06,93.0,Model A,2019,94 years 11 months,550000.0,362A SEMBAWANG CRES,1.447195,103.814008,SEMBAWANG MRT STATION,0.702661
157093,2023-06,SEMBAWANG,4 ROOM,366B,SEMBAWANG CRES,10 TO 12,93.0,Model A,2019,94 years 11 months,568000.0,366B SEMBAWANG CRES,1.443922,103.815958,SEMBAWANG MRT STATION,0.729568
157094,2023-07,SEMBAWANG,4 ROOM,366B,SEMBAWANG CRES,13 TO 15,93.0,Model A,2019,94 years 11 months,565000.0,366B SEMBAWANG CRES,1.443922,103.815958,SEMBAWANG MRT STATION,0.729568
157095,2023-07,HOUGANG,4 ROOM,992B,BUANGKOK LINK,07 TO 09,93.0,Model A,2019,95 years,598000.0,992B BUANGKOK LINK,1.383827,103.881672,TONGKANG LRT STATION,0.768356
157096,2023-07,SENGKANG,4 ROOM,351A,ANCHORVALE RD,10 TO 12,92.0,Model A,2019,94 years 11 months,568000.0,351A ANCHORVALE RD,1.394153,103.886574,FARMWAY LRT STATION,0.451194

# Sample for api call
url= f'https://developers.onemap.sg/commonapi/search?searchVal={}&returnGeom=Y&getAddrDetails=Y&pageNum=1'
response = requests.get('https://developers.onemap.sg/commonapi/search?searchVal=406 ANG MO KIO AVE 10&returnGeom=Y&getAddrDetails=Y&pageNum=1')

In [ ]:
# count=0
# ori_df['lat']=''
# ori_df['lon']=''

# for index,i in enumerate(ori_df['address']):
#     count+=1
#     print(index)
#     url= f'https://developers.onemap.sg/commonapi/search?searchVal={i}&returnGeom=Y&getAddrDetails=Y&pageNum=1'
#     response = requests.get(url)
#     ori_df.loc[index,'lat']=response.json()['results'][0]['LATITUDE']
#     ori_df.loc[index,'lon']=response.json()['results'][0]['LONGITUDE']
#     if count==50:
#         break